params {
  //methods_py = ('deepImpute','magic','dca')
  // methods_R = ('SAVER','scImpute','VIPER','DrImpute')
  methods_py = ('magic')
  methods_R = ('SAVER')
  trials = (1,2)
  ncell_list=(100,500)
}

executor{
  jobName = { "$task.tag" }
  queueSize = 10
}

process {
  executor = 'local'
  stageInMode = 'symlink'
  stageOutMode = 'symlink'
  cpus = 8
  memory = 29.GB
}

